---
layout: simple
---
<link href="../assets/css/search.css" rel="stylesheet">

<div class="search">
  <h1>Search results</h1>
  <ul id="search-results"></ul>

  <!-- Client-side search implementation -->
  <script>
    var baseurl = "{{ site.baseurl }}";
    window.store = {
      {% for p in site.pages %}
        {% if p.title != null and p.redirect == null %}
          "{{ p.url | slugify }}": {
            "title": "{{ p.title | xml_escape }}",
            "content": {{ p.content | strip_html | jsonify }},
            "url": "{{ p.url | xml_escape }}"
          }
          {% unless forloop.last %},{% endunless %}
        {% endif %}
      {% endfor %}
    };
  </script>
</div>

<script src="../assets/js/search/lunr.min.js"></script>
<script src="../assets/js/search/search.js"></script>